.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid #7c7c7c;
  box-shadow: 0.5rem 0.5rem 1.3rem 0 #7c7c7c;
  background-color: white;
  padding: 1.5rem;
  width: 100vw;
  height: 6.4rem;
  position: absolute;
  bottom: 0;
}

.footerContainerInfos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footerTotalOfProducts,
.footerTotalPrice {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.03rem;
  line-height: 1.6rem;
  margin: 0;
}

@media (min-width: 360px) {
  .footerTotalOfProducts,
  .footerTotalPrice {
    font-size: 1.6rem;
  }
}
