.addProductModalOpenModalButton,
.addProductModalButton {
  font-size: 1.4rem;
  font-weight: 600;
  width: 100%;
  height: 4rem;
  border-radius: 0.4rem;
  outline: none;
  border: 0.1rem solid #7c7c7c;
}

.addProductModalOpenModalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

.addProductModalButtonText {
  margin-right: 0.8rem;
}

.addProductModalContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: white;
  padding-bottom: 8rem;
}

.addProductModalHeadline {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  align-items: center;
  width: 100%;
  border-bottom: 0.1rem solid #7c7c7c;
  box-shadow: 0.5rem 0.5rem 1.3rem 0 #7c7c7c;
}

.addProductModalTitle {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4;
  letter-spacing: -0.03rem;
}

.addProductModalContainerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem 2rem;
}

.addProductModalContainerInputs {
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
  width: 100%;
  height: 15rem;
}
