.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: scroll;
}

.container::-webkit-scrollbar {
  width: 0;
}

.homePageContent {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}

.divider {
  margin: 1rem 0;
  border: 0.1rem solid #9c9c9c;
}

.homePageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100vh;
}
